*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(246,246,246,1);
    min-width: 1200px;
}
li{
    list-style: none;
}
a{
    color: rgba(153,164,188,1);
}
a:hover{
    text-decoration: none;
    color:rgba(200,22,35,1);
    cursor: pointer;
}
/*nav*/
#topPic{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: #000;
}
#topPic img{
    display: block;
    margin: 0 auto;
}
.top-nav{
    z-index: 10;
    background-color:rgba(227,228,229,1);
    height: 30px;

}
.top-nav>.w{
    z-index: 10;
    position: relative;
    display: block;
    margin: 0 auto;
    width: 1200px;
    height: 30px;
}
.top-nav .location{
     float:left;
    margin-left: 215px;
    width:60px ;
     height: 30px;
     line-height: 30px;
     text-align: right;
    font-size: 12px;
    color: rgba(153,164,188,1);
}
.loc{
    text-align: center;
    cursor: pointer;
}
.locationHover{
    background-color: #fff;

}
.messChoose{
    background-color: rgba(241,2,21,1);
}

.locationMess{
     position: absolute;
     top:30px;
     left: 215px;
     display:none;
     z-index: 99;
     padding: 10px;
     width: 320px;
    box-shadow: 0 6px 10px  rgba(0,0,0,0.2);
     background-color: rgba(255,255,255,1);
 }
.locationMess ul li a{
    text-align: center;
    display: block;
    float: left;
    margin:3px 7px;
    width: 45px;
    height: 20px;
    line-height: 20px;
    border-radius: 2px;
}
.glyphicon-map-marker{
    color:rgba(241,2,21,1);
}
.top-nav .nav-right{
    float: right;
    width: 710px;
    height: 30px;
    line-height: 30px;
}

.nav-right>ul{
    display: block;
    margin: 0 auto;
    line-height: 30px;
    height: 30px;
}
.nav-right>ul>li{
   list-style: none;
    text-align: center;
    font-size: 12px;
    float: left;
    width: 70px;
    color: rgba(153,164,188,1);
}

.nav-right>ul>.login{
    width: 80px!important;
}
.signIn a{
    color:rgba(241,2,21,1) !important;
}

.list-divider{
    width: 10px!important;
    float: left;
}
.nav > li > a{
    padding: 5px 0!important;
}
.mess{
    position: relative;
}
.topshow{
    position: absolute;
    left: 1px;
    top:28px;
    display:none;
    background-color: #fff;
    width: 230px;
    box-shadow: 0 6px 10px  rgba(0,0,0,0.2);
}
.hr{
    height:110px;
    border-left: 15px solid #fff;
    border-right: 15px solid #fff;
    border-bottom: 2px solid #efefef;
}
.hr1{
    height:80px;
    border-left: 15px solid #fff;
    border-right: 15px solid #fff;
}
.hr2{
    height:180px;
    border-left: 15px solid #fff;
    border-right: 15px solid #fff;
    border-bottom: 2px solid #efefef;

}
.topshow>ul>li>a{
    margin:8px 15px;
    text-align:left;
    float: left;
    display: block;
    width: 60px;
    height: 20px;
    line-height: 20px;
}
/*article*/
article{
    position: relative;
    width: 1200px;
    margin: 0 auto;
    height: 3000px;
}
.logoPic{
    background-color: #ffffff;
    position: absolute;
    top:-30px;
    left: 0;
    display: block;
    box-shadow: 0 -12px 10px  rgba(0,0,0,0.2);
}
.searchCon{
    position: absolute;
    left: 0;
    right: 0;
    width: 550px;
    margin:30px auto;
}
.carousel-indicators{
    width:150px;
    background-color: rgba(0,0,0,0.3);
    border-radius: 9px;
}


.red {
    border: 1px solid rgba(217, 83, 79, 1);
}
input:focus{
    outline: none!important;
    border-color: rgba(217,83,79,1)!important;
    box-shadow: none!important;
}
.searchList>li{
    float: left;
    padding: 5px;
    font-size: 12px;
    color: rgba(153,164,188,1);

}

.shoppingCartList{
    position: absolute;
    right:0;
    margin-top:30px;
    margin-right: 120px;
    width:180px;
    height: 35px;
    line-height: 30px;
    background-color: #fff;
    border: 1px solid rgba(222,222,220,1);
    text-align: center;
    color:rgba(241,2,21,1);
    cursor: pointer;
}
.cartCol{
    padding-right: 20px;
    width: 16px;
    height: 16px;
    color:rgba(241,2,21,1);

}
.goodsList{
    width: 190px;
    background-color: rgba(110,101,104,1);
    padding:15px;
    margin-top: 135px;
    margin-right: 10px!important;
    float: left;
}
.goodsList li{
    margin: 10px 0;
    font-size: 14px;
    color: rgba(255,255,255,1);
}
.goodsList li a{
    margin: 0 3px;
    color: rgba(255,255,255,1);
}
.goodsList li a:hover{
    text-decoration: none;
    color:rgba(200,22,35,1);
    cursor: pointer;
}

.slideCon{
    float: left;
    width: 790px;
    margin-top: 110px;
}
.goodsTitle li{
     float: left;
     font-size: 18px;
     width: 80px;
     text-align: center;
     font-family: "黑体", "Times New Roman";
}
.goodsTitle li a{
    color: rgba(85,85,128,1);
}
.goodsTitle li a:hover{
    text-decoration: none;
    color:rgba(200,22,35,1);
    cursor: pointer;
}
.carousel{
    margin-top: 30px;
    width: 789px!important;
    height: 340px!important;
}
.item img{
    position: relative;
    top:0;
    display: block;
    width: 100%!important;
    height:340px!important;
}
/*footer*/
footer{
    height: 500px;
    width: 100%;
    background-color:rgba(227,228,229,1);
}
.foot{
    margin: 0 auto;
    width: 1200px;
}
.f1{
    margin: auto 30px;
    display: block;
    padding: 30px 0 20px 0;
    font-size: 18px;
}
.f1 div{
    height: 44px!important;
    line-height: 50px!important;
    padding: 0 0 0 45px;
}
.duo{
    background: url("../picture/jingdong/bottom-icon.png") no-repeat 5px 2px;
}
.kuai{
    background: url("../picture/jingdong/bottom-icon.png") no-repeat 5px -42px;
}
.hao{
    background: url("../picture/jingdong/bottom-icon.png") no-repeat 5px -85px;
}
.sheng{
    background: url("../picture/jingdong/bottom-icon.png") no-repeat 5px -128px;
}
.divider{
    border-top: 1px solid rgba(0,0,0,0.1);
}
.col-md-2{
    font-size: 12px;
    color: rgba(153,164,188,1);
    text-align: center;
    width: 15%;
    margin: 0 auto;

}
.col-md-2 li{
    margin: 5px;

}
.map{
    width: 200px;
    height: 150px;
    background:url("../picture/jingdong/ico_footer.png") no-repeat 0 0px;
;
    text-align: left!important;
}
.message{
    position: relative;
    margin-bottom: 20px;
}
.message div ul li{
    float: left;
    color: rgba(153,164,188,1);
    text-align: center;
    font-size: 12px;
    margin-right:5px ;
}

.message ul{
    display: block;
    height: 16px;
}
.footerPic{
    display: block;
    margin: 0 auto;
    height: 50px;
    text-align: center;
    padding: 0 50px;
}
.footerPic a{
    display: block;
    width: 100px;
    height: 35px;
    float: left;
    margin: 0 35px;
}
.pic1{
    background: url("../picture/jingdong/ico_footer.png") no-repeat 0 -150px;
}.pic2{
    background: url("../picture/jingdong/ico_footer.png") no-repeat -105px -150px;
}.pic3{
    background: url("../picture/jingdong/ico_footer.png") no-repeat 0 -183px;
}.pic4{
    background: url("../picture/jingdong/ico_footer.png") no-repeat -105px -183px;
}.pic5{
    background: url("../picture/jingdong/ico_footer.png") no-repeat 0 -215px;
}.pic6{
    background: url("../picture/jingdong/ico_footer.png") no-repeat -105px -215px;
}
